<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Page Title</title>
  <meta name="description" content="This is the description that search engines will display. Aim for 145-155 characters">
  <meta name="author" content="Insert the content author/owner name here">
<!– Link to your JS file –>
<script src=”scripts/script.js”></script>
<!– Link to your CSS file –>
<link rel=”stylesheet” href=”css/style.css”>
</head>

<body>
    <h1>Template</h1>

    <p>This is a blank template for a web page.</p>

</body>
</html>
